body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

ul {
  list-style-type: none;
}

.center{
  text-align: center;
}

.add-apple-btn {
  padding-bottom: 100px;
}
